Repository honeybadger2788/proyectoRentalCars: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  image: node:latest
  stage: build_frontend
  allow_failure: false
  script:
  - cd ./frontend
  - export PATH=$PATH:/usr/bin/npm
  - npm install
  - CI=false npm run build
  artifacts:
    paths:
    - ./frontend/build/

build_backend:
  image: maven:3.8.3-openjdk-17
  stage: build_backend
  allow_failure: false
  script:
  - cd ./backend
  - mvn -DskipTests=true package
  artifacts:
    paths:
    - ./backend/target/Grupo2-Backend.jar

Resolve "Implementar submit del formulario de reservas"
  frontend/src/components/Calendar/Calendar.js
  frontend/src/components/Calendar/Calendar.module.css
  frontend/src/components/List/Card/Card.js
  frontend/src/components/List/Card/Card.module.css
  frontend/src/mock/car-mock-updated.json
  frontend/src/styles/theme.css
  frontend/src/views/CarDetailPage/CarDetailPage.js
  frontend/src/views/CarDetailPage/CarDetailPage.module.css
  frontend/src/views/Reservation/Reservation.js
  frontend/src/views/Reservation/Reservation.module.css
  frontend/src/views/Reservation/components/ReservationDetail/ReservationDetail.js
  frontend/src/views/Reservation/components/ReservationDetail/ReservationDetail.module.css
Due: build_frontend

Tests
  .idea/compiler.xml
  .idea/runConfigurations.xml
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/components/Calendar/Calendar.test.js
  frontend/src/components/Characteristics/Characteristics.test.js
  frontend/src/components/Description/Description.test.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Images/Images.test.js
  frontend/src/components/List/List.test.js
  frontend/src/components/Location/Location.test.js
  frontend/src/components/MainLayout/Drawer/Drawer.test.js
  frontend/src/components/MainLayout/Footer/Footer.test.js
  frontend/src/components/MainLayout/MainLayout.test.js
  frontend/src/components/MainLayout/Navbar/Navbar.test.js
  frontend/src/components/MainLayout/Social/Social.test.js
  frontend/src/components/MainLayout/User/User.test.js
  frontend/src/components/Policies/Policies.test.js
  frontend/src/components/SearchLayout/Search/Search.test.js
  frontend/src/components/StarsRating/StarsRating.test.js
  frontend/src/setupTests.js
  frontend/src/views/Reservation/Reservation.test.js
Due: build_frontend

fix city id
  frontend/src/hooks/useSignup.js
Due: build_frontend

fix cors config and reservation redirect url
  backend/src/main/java/final_project_group_2/WebApplication/jwt/WebSecurityAdapter.java
  frontend/src/views/Reservation/Reservation.js
Due: build_frontend, build_backend

Fixed app properties
  backend/src/main/resources/application.properties
Due: build_backend

Resolve "Crear Pipeline para CI CD"
  .gitlab-ci.yml
  .idea/runConfigurations.xml
Due: none

fix(booking): fix success page button
  frontend/src/views/Reservation/ReservationSuccess.js
Due: build_frontend

Resolve "Crear Pipeline para CI CD"
  .gitlab-ci.yml
Due: none

Resolve "Crear Pipeline para CI CD"
  .gitlab-ci.yml
  frontend/src/views/Home/Home.js
Due: build_frontend

Fix calendar in car detail page
  frontend/src/views/CarDetailPage/CarDetailPage.js
Due: build_frontend

Resolve "Implementar filtro por ciudad e intervalo de fechas en API"
  .vscode/settings.json
  backend/pom.xml
  backend/src/main/java/final_project_group_2/WebApplication/controllers/CarController.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Car.java
  backend/src/main/java/final_project_group_2/WebApplication/repositories/ICarRepository.java
  backend/src/main/java/final_project_group_2/WebApplication/searchs/CarSpecification.java
  backend/src/main/java/final_project_group_2/WebApplication/searchs/SearchCriteria.java
  backend/src/main/java/final_project_group_2/WebApplication/services/ICarService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
  backend/src/main/resources/application.properties
Due: build_backend

Satus 201 direccion producto policy producto
  backend/src/main/java/final_project_group_2/WebApplication/dto/CarDTO.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Car.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/BookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CategoryService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CityService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/ImageService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/PolicyService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/RatingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/RoleService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
Due: build_backend

Bd correccion
  backend/src/main/java/final_project_group_2/WebApplication/controllers/CarController.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Booking.java
  backend/src/main/java/final_project_group_2/WebApplication/models/User.java
  backend/src/main/java/final_project_group_2/WebApplication/services/ICarService.java
Due: build_backend

Fix register
  backend/src/main/java/final_project_group_2/WebApplication/controllers/UserController.java
  frontend/src/hooks/useLogin.js
  frontend/src/hooks/useSignup.js
  frontend/src/styles/style.css
  frontend/src/styles/theme.css
  frontend/src/views/Login/Login.js
  frontend/src/views/Register/Register.js
  frontend/src/views/Reservation/Reservation.module.css
Due: build_frontend, build_backend

Resolve "Crear la página de formulario de creación de producto"
  frontend/src/App.js
  frontend/src/components/Header/Header.js
  frontend/src/components/MainLayout/Drawer/Drawer.js
  frontend/src/components/MainLayout/Drawer/Drawer.module.css
  frontend/src/components/MainLayout/Navbar/Navbar.js
  frontend/src/components/MainLayout/Navbar/Navbar.module.css
  frontend/src/components/MainLayout/User/User.js
  frontend/src/components/RequireAuth.js
  frontend/src/views/Admin/Admin.js
  frontend/src/views/Admin/Admin.module.css
  frontend/src/views/Admin/ProductCreationSuccess.js
  frontend/src/views/Admin/ProductCreationSuccess.module.css
  frontend/src/views/CarDetailPage/CarDetailPage.js
  frontend/src/views/Reservation/Reservation.js
Due: build_frontend

Resolve "Implementar filtro por ciudad e intervalo de fechas en API"
  backend/src/main/java/final_project_group_2/WebApplication/controllers/BookingController.java
  backend/src/main/java/final_project_group_2/WebApplication/controllers/CarController.java
  backend/src/main/java/final_project_group_2/WebApplication/controllers/UserController.java
  backend/src/main/java/final_project_group_2/WebApplication/dto/BookingDTO2.java
  backend/src/main/java/final_project_group_2/WebApplication/dto/CarDTO.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Booking.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Car.java
  backend/src/main/java/final_project_group_2/WebApplication/models/User.java
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IBookingRepository.java
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IUserRepository.java
  backend/src/main/java/final_project_group_2/WebApplication/searchs/CarSpecification.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IBookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/BookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
Due: build_backend

fix(front): css fixes and add personal data in reservation page
  frontend/src/components/Calendar/Calendar.module.css
  frontend/src/components/MainLayout/Navbar/Navbar.module.css
  frontend/src/views/CarDetailPage/CarDetailPage.js
  frontend/src/views/CarDetailPage/CarDetailPage.module.css
  frontend/src/views/Reservation/Reservation.js
  frontend/src/views/Reservation/Reservation.module.css
  frontend/src/views/Reservation/components/PersonalData/PersonalData.js
  frontend/src/views/Reservation/components/PersonalData/PersonalData.module.css
Due: build_frontend

fix join city and category filters
  frontend/src/views/Home/Home.js
Due: build_frontend

Resolve "Implementar búsqueda por fecha desde la página principal"
  frontend/src/components/CategoriesLayout/CategoriesLayout.js
  frontend/src/components/SearchLayout/Search/Search.js
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.js
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.module.css
  frontend/src/views/Home/Home.js
Due: build_frontend

Resolve "Implementar búsqueda por fecha desde la página principal"
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.js
Due: build_frontend

Fix homepage card component and categories layout
  frontend/src/components/Calendar/Calendar.js
  frontend/src/components/CategoriesLayout/CategoriesLayout.js
  frontend/src/components/CategoriesLayout/CategoriesLayout.module.css
  frontend/src/components/CategoriesLayout/Category/Category.module.css
  frontend/src/components/List/Card/Card.js
  frontend/src/components/List/Card/Card.module.css
  frontend/src/components/List/List.js
  frontend/src/components/List/List.module.css
  frontend/src/components/Location/Location.module.css
  frontend/src/components/MainLayout/MainLayout.module.css
  frontend/src/views/Home/Home.js
  frontend/src/views/Home/Home.module.css
Due: build_frontend

Rama juampi
  backend/src/main/java/final_project_group_2/WebApplication/controllers/CarController.java
  backend/src/main/java/final_project_group_2/WebApplication/dto/BookingDTO.java
  backend/src/main/java/final_project_group_2/WebApplication/dto/BookingDTO2.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Booking.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Car.java
  backend/src/main/java/final_project_group_2/WebApplication/models/User.java
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IBookingRepository.java
  backend/src/main/java/final_project_group_2/WebApplication/searchs/CarSpecification.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IBookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/BookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
  backend/src/main/resources/application.properties
Due: build_backend

fix bookings relations with users and cars
  backend/src/main/java/final_project_group_2/WebApplication/controllers/BookingController.java
  backend/src/main/java/final_project_group_2/WebApplication/dto/BookingDTO2.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Booking.java
  backend/src/main/java/final_project_group_2/WebApplication/models/Car.java
  backend/src/main/java/final_project_group_2/WebApplication/models/User.java
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IBookingRepository.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IBookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/BookingService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
Due: build_backend

Fix email validation
  backend/src/main/java/final_project_group_2/WebApplication/controllers/JwtController.java
  backend/src/main/java/final_project_group_2/WebApplication/controllers/UserController.java
  backend/src/main/java/final_project_group_2/WebApplication/jwt/JwtUtil.java
  backend/src/main/java/final_project_group_2/WebApplication/models/User.java
  backend/src/main/java/final_project_group_2/WebApplication/models/UserDetailsImpl.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IUserService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
Due: build_backend

fix jwt request at booking by car endpoint
  backend/src/main/java/final_project_group_2/WebApplication/jwt/WebSecurityAdapter.java
Due: build_backend

Fix jwt request booking by car
  backend/src/main/java/final_project_group_2/WebApplication/jwt/WebSecurityAdapter.java
Due: build_backend

Fix searchbar calendar
  frontend/src/components/SearchLayout/Search/Search.js
  frontend/src/components/SearchLayout/Search/Search.module.css
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.js
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.module.css
Due: build_frontend

feat(front): add hover effects
  frontend/src/components/CategoriesLayout/Category/Category.module.css
  frontend/src/components/List/Card/Card.module.css
  frontend/src/components/MainLayout/User/User.js
  frontend/src/components/MainLayout/User/User.module.css
  frontend/src/components/SearchLayout/Search/Search.js
  frontend/src/components/SearchLayout/Search/Search.module.css
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.js
  frontend/src/components/SearchLayout/SearchCalendar/SearchCalendar.module.css
  frontend/src/styles/theme.css
  frontend/src/views/Admin/Admin.module.css
Due: build_frontend

Fix front several issues
  frontend/src/components/CategoriesLayout/Category/Category.module.css
  frontend/src/views/CarDetailPage/CarDetailPage.js
  frontend/src/views/Home/Home.js
  frontend/src/views/Reservation/Reservation.js
Due: build_frontend

Fix bad credentials error frontend
  backend/src/main/java/final_project_group_2/WebApplication/controllers/JwtController.java
  backend/src/main/java/final_project_group_2/WebApplication/controllers/UserController.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/BadCredentialsException.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/UsernameException.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IUserService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
  frontend/src/hooks/useLogin.js
  frontend/src/hooks/useSignup.js
Due: build_frontend, build_backend

Fix bad credential exception
  backend/src/main/java/final_project_group_2/WebApplication/controllers/JwtController.java
  backend/src/main/java/final_project_group_2/WebApplication/controllers/UserController.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/BadCredentialsException.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/final_project_group_2/WebApplication/exceptions/UsernameException.java
  backend/src/main/java/final_project_group_2/WebApplication/services/IUserService.java
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/UserService.java
Due: build_backend

fix the random car return
  backend/src/main/java/final_project_group_2/WebApplication/services/impl/CarService.java
Due: build_backend

Resolve "Crear la página de "mis reservas""
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/BookingCard/BookingCard.js
  frontend/src/components/BookingCard/BookingCard.module.css
  frontend/src/components/CategoriesLayout/Category/Category.module.css
  frontend/src/components/List/List.module.css
  frontend/src/components/MainLayout/Drawer/Drawer.js
  frontend/src/components/MainLayout/Navbar/Navbar.js
  frontend/src/styles/style.css
  frontend/src/views/Home/Home.js
  frontend/src/views/MyBookings/MyBookings.js
  frontend/src/views/MyBookings/MyBookings.module.css
Due: build_frontend

change bookings by user.id order by startDate
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IBookingRepository.java
Due: build_backend

Change copy
  frontend/src/components/MainLayout/Navbar/Navbar.js
  frontend/src/components/SearchLayout/Search/Search.js
Due: build_frontend

Fix order bookings by date
  backend/src/main/java/final_project_group_2/WebApplication/repositories/IBookingRepository.java
Due: build_backend

Path conditions:
  build_frontend: any of: frontend/src/**/*, frontend/package.json
  build_backend: any of: backend/src/**/*, backend/pom.xml
